{% extends 'base.html' %}
{% block content %}
{% load bootstrap4 %}
{% bootstrap_css %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo</title>
</head>
<style>
    body{
      font-family: 'Noto Sans JP', sans-serif;
    }
  </style>
<body>

    <div class="row justify-content-center mt-5">
        <div class="col-md-7  text-center">

            <h2 class="mb-5">Time is precious</h2>
            <p>Life is getting complex day by day. We get it , lots of things to manage. To remove all your
               convolutions , this is our one stop solution</p>
            <br>
            <br>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam praesentium sint reprehenderit nulla saepe illum cupiditate eius harum dolorem quisquam voluptatem, consequatur dignissimos ex iste veritatis explicabo vero, quidem sapiente.</p>
            <br>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In eum consequatur voluptates cumque optio dicta necessitatibus commodi aspernatur officia nostrum, delectus distinctio beatae omnis cupiditate eos corporis! Vitae, amet facilis?</p>

        </div>
    </div>
    
   
</body>
</html>

{%endblock %}